body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(59, 76, 146, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
} 

.container {
    max-width: 1240px;
    width: 95%;
    margin: 0 auto;
}

#header .center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

#header .formWrapper {
    background: #fff;
    padding: 30px 40px;
    border-radius: 7px;
    color: #3e485c;
}

#header .formWrapper .form-group {
    margin-bottom: 15px;
}

#header .formWrapper label {
    font-weight: 700;
    font-size: 0.8em;
}

#header .formWrapper input, 
#header .formWrapper select {
    background: #ebecee;
    border:none;
    font-size: 14px;
    height: 40px;
    padding: 5px;
}

#header .formWrapper input:focus {
    box-shadow: none;
}

#header .formWrapper button {
    background: #5c5cf1;
    color: #fff;
    font-weight: 700;
    padding: 12px 30px;
    font-size: .9em;
}



.row__item2 {
    width: 70%;
    height: 40%;
    position: absolute;
    background: #fff;
    padding: 30px 20px;
    border-radius: 7px;
    color: #3e485c;
    margin-top: 20px;
}

